#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [81]:
import pandas as pd
import numpy as np

anomalia_térmica = [-0.08 , -0.27 , 0.12 , -0.03 , 0.26 , 0.40 , 1.02]

alt_temperaturas = pd.Series(anomalia_térmica)

alt_temperaturas

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [82]:
ano = [1900 , 1920 , 1940 , 1960 , 1980 , 2000 , 2020]

alt_temperaturas = pd.Series(anomalia_térmica, index = ano)

alt_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [83]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

alt_temperaturas = pd.Series(dic_temperaturas)

alt_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [84]:
arr = np.random.normal(100, 10, (20,3))

num_aleatorios = pd.DataFrame(arr)

num_aleatorios

             0           1           2
0   101.356082   91.129043  104.076043
1   111.011184  112.709445   91.567720
2   110.990103   94.782227   98.490991
3   106.913916  112.483967  106.615005
4   108.553332   95.192193  105.642362
5    91.247065   97.045299  110.851371
6   111.846543  103.981304  108.370941
7   106.231679  103.348649   90.016844
8   112.061307  103.664812  102.080346
9   116.698204  104.001365  110.720983
10   83.368095   99.869633  102.648407
11  100.129168   87.468407   88.916393
12  101.765366  110.596603   92.156903
13  100.664683  107.458574  105.594107
14   95.434429   98.174891   80.677025
15  109.257096  107.799943   95.360048
16  109.119801   92.745584   82.754535
17   95.934989   87.417605   97.833321
18  102.658623  108.830823  114.320326
19   91.681241  100.783854  107.060571

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [85]:
num_aleatorios = pd.DataFrame(arr,
                              columns=['x1','x2','x3'],
                              index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

num_aleatorios

            x1          x2          x3
1   101.356082   91.129043  104.076043
2   111.011184  112.709445   91.567720
3   110.990103   94.782227   98.490991
4   106.913916  112.483967  106.615005
5   108.553332   95.192193  105.642362
6    91.247065   97.045299  110.851371
7   111.846543  103.981304  108.370941
8   106.231679  103.348649   90.016844
9   112.061307  103.664812  102.080346
10  116.698204  104.001365  110.720983
11   83.368095   99.869633  102.648407
12  100.129168   87.468407   88.916393
13  101.765366  110.596603   92.156903
14  100.664683  107.458574  105.594107
15   95.434429   98.174891   80.677025
16  109.257096  107.799943   95.360048
17  109.119801   92.745584   82.754535
18   95.934989   87.417605   97.833321
19  102.658623  108.830823  114.320326
20   91.681241  100.783854  107.060571

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [86]:
num_aleatorios['Média'] = (num_aleatorios['x1']+num_aleatorios['x2']+num_aleatorios['x3'])/3.0

num_aleatorios

            x1          x2          x3       Média
1   101.356082   91.129043  104.076043   98.853723
2   111.011184  112.709445   91.567720  105.096116
3   110.990103   94.782227   98.490991  101.421107
4   106.913916  112.483967  106.615005  108.670963
5   108.553332   95.192193  105.642362  103.129296
6    91.247065   97.045299  110.851371   99.714578
7   111.846543  103.981304  108.370941  108.066263
8   106.231679  103.348649   90.016844   99.865724
9   112.061307  103.664812  102.080346  105.935488
10  116.698204  104.001365  110.720983  110.473517
11   83.368095   99.869633  102.648407   95.295378
12  100.129168   87.468407   88.916393   92.171323
13  101.765366  110.596603   92.156903  101.506291
14  100.664683  107.458574  105.594107  104.572455
15   95.434429   98.174891   80.677025   91.428782
16  109.257096  107.799943   95.360048  104.139029
17  109.119801   92.745584   82.754535   94.873307
18   95.934989   87.417605   97.833321   93.728638
19  102.658623  108.830823  114.320326  108.603257
20   91.681241  100.783854  107.060571   99.841888

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [87]:
num_aleatorios['log_med'] = np.log(num_aleatorios['Média'])

num_aleatorios

            x1          x2          x3       Média   log_med
1   101.356082   91.129043  104.076043   98.853723  4.593641
2   111.011184  112.709445   91.567720  105.096116  4.654875
3   110.990103   94.782227   98.490991  101.421107  4.619281
4   106.913916  112.483967  106.615005  108.670963  4.688325
5   108.553332   95.192193  105.642362  103.129296  4.635983
6    91.247065   97.045299  110.851371   99.714578  4.602312
7   111.846543  103.981304  108.370941  108.066263  4.682745
8   106.231679  103.348649   90.016844   99.865724  4.603827
9   112.061307  103.664812  102.080346  105.935488  4.662830
10  116.698204  104.001365  110.720983  110.473517  4.704776
11   83.368095   99.869633  102.648407   95.295378  4.556981
12  100.129168   87.468407   88.916393   92.171323  4.523649
13  101.765366  110.596603   92.156903  101.506291  4.620121
14  100.664683  107.458574  105.594107  104.572455  4.649880
15   95.434429   98.174891   80.677025   91.428782  4.515560
16  109.257096  107.799943   95.360048  104.139029  4.645727
17  109.119801   92.745584   82.754535   94.873307  4.552542
18   95.934989   87.417605   97.833321   93.728638  4.540404
19  102.658623  108.830823  114.320326  108.603257  4.687701
20   91.681241  100.783854  107.060571   99.841888  4.603588